@model NetMVCBlogApp.Models.BlogDetailsModel

@section ck_editor{
    <link rel="stylesheet" href="~/Content/ckeditor/contents.css" />
}

<div class="blog-details">

    <div class="blog-header" style="text-align:center">
        <h1>
            @Model.Name
        </h1>
    </div>
    <div class="blog-image">
        <img src="~/Content/img/post/@Model.Image" alt="">
    </div>

    <div class="blog-text">
        <p>
            @Html.Raw((HttpUtility.HtmlDecode(Model.Text)))
        </p>
    </div>

</div>

@Html.Action("WrittenBy", "Aside")

<div class="comment">
    <div class="comment-header">
        <h4>
            @if (Model.Comments.Count == 0)
            {
                <span> 0 Comment(s)</span>
            }
            else
            {
                @*<span>@(Model.Comments.Select(i => i.CommentResponses.Count).First() + Model.Comments.Count) Comment(s)</span>*@
                <span>@Model.Comments.Count Comment(s)</span>
            }
        </h4>
    </div>

    @if (Model.Comments.Count > 0)
    {

        foreach (var comment in Model.Comments)
        {
            <div class="comment-content" style="position:relative">
                <div class="comment-image">
                    <img src="~/Content/img/person/@comment.Image" alt="person comment">
                </div>
                <div class="comment-base">
                    <div class="person-name">
                        <h5>
                            <span>@comment.Name</span>
                        </h5>
                    </div>
                    <div class="comment-date">
                        <span>AUGUST 2, 2016 AT 6:51 PM</span>
                    </div>
                    <div class="comment-text">
                        <p>
                            @comment.Text
                        </p>
                    </div>
                </div>
                <div class="reply" style="width:50px; height:20px; color:#000; font-weight:700; cursor:pointer; position:absolute; bottom:0; right:0; text-align:center">
                    Reply
                </div>


                @*<script>

                        $(".reply").click(function () {
                            $(".comment-response").each(function (index) {
                                //console.log(index);
                                console.log($(this));
                            });
                        });

                    </script>*@

            </div>


            if (comment.CommentResponses.Count > 0)
            {
                foreach (var response in comment.CommentResponses)
                {
                    <div class="comment-response">
                        <div class="comment-image">
                            <img src="~/Content/img/person/@response.Image" alt="person comment">
                        </div>
                        <div class="comment-base">
                            <div class="person-name">
                                <h5>
                                    <span>@response.Name</span>
                                </h5>
                            </div>
                            <div class="comment-date">
                                <span>AUGUST 2, 2016 AT 6:51 PM</span>
                            </div>
                            <div class="comment-text">
                                <p>
                                    @response.Text
                                </p>
                            </div>
                        </div>
                    </div>

                }
            }

            <div class="post-response">
                <div class="comment-page">
                    <form action="/Blog/AddCommentResponse" method="POST">
                        <input type="hidden" id="responseID" name="CommentID" value="@comment.CommentID" />
                        <div class="add-comment">
                            <div>
                                <div><label for="response-name">Name</label></div>
                                <input required type="text" name="Name" id="response-name">
                            </div>
                            <div>
                                <div><label for="response-mail">Email</label></div>
                                <input required type="email" name="Email" id="response-mail">
                            </div>
                        </div>
                        <div style="margin-top: 30px">
                            <div><label for="response-mail">Message</label></div>
                            <textarea required name="Text" id="response-textarea" cols="20" rows="10"></textarea>
                        </div>
                        <button id="send-response" type="submit">Send Response</button>
                    </form>
                </div>
            </div>

        }

    }



    <div id="post-comment">
        <div class="comment-page">
            <form action="/Blog/AddComment" method="POST">
                <input type="hidden" id="ID" name="BlogID" value="@Model.ID" />
                <div class="add-comment">
                    <div>
                        <div><label for="comment-name">Name</label></div>
                        <input required type="text" name="Name" id="comment-name" placeholder="Steve Mcqueen">
                    </div>
                    <div>
                        <div><label for="comment-mail">Email</label></div>
                        <input required type="email" name="Email" id="comment-mail" placeholder="steve@mcqueen.us">
                    </div>
                </div>
                <div style="margin-top: 30px">
                    <div><label for="comment-mail">Message</label></div>
                    <textarea required name="Text" id="comment-textarea" cols="20" rows="10" placeholder="Messages.."></textarea>
                </div>
                <button id="send-comment" type="submit">Send Comment</button>
            </form>
        </div>
    </div>

    <script>

        $(document).ready(function () {

            //$("#post-comment").hide();

            $(".post-response").each(function (index) {
                $(this).hide();
            });


            $("#send-comment").click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '/Blog/AddComment',
                    data: {
                        BlogID: $("#ID").val(),
                        Name: $("#comment-name").val(),
                        Email: $("#comment-mail").val(),
                        Text: $("#comment-textarea").val()
                    },
                    success: function (data) {
                        if (data == "yes") {
                            alert("Yorum gönderme işlemi başarılı!");
                        }
                        else {
                            alert('Sanırım bir şeyler ters gitti, iletişim kısmından beni uyarır mısın?');
                        }
                    },
                    error: function () {
                        alert('Sanırım bir şeyler ters gitti, iletişim kısmından beni uyarır mısın?');
                    }
                });
            })

            $("#send-response").click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '/Blog/AddCommentResponse',
                    data: {
                        CommentID: $("#responseID").val(),
                        Name: $("#response-name").val(),
                        Email: $("#response-mail").val(),
                        Text: $("#response-textarea").val()
                    },
                    success: function (data) {
                        if (data == "yes") {
                            alert('Sanırım bir şeyler ters gitti, iletişim kısmından beni uyarır mısın?');
                        }
                        else {
                            alert('Sanırım bir şeyler ters gitti, iletişim kısmından beni uyarır mısın?');
                        }
                    },
                    error: function () {
                        alert('Sanırım bir şeyler ters gitti, iletişim kısmından beni uyarır mısın?');
                    }
                });
            })

        });


    </script>
